@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');


:root {
    --content-bg: hsl(0, 0%, 98%);
    --page-bg: hsl(236, 33%, 92%);
    --border-bg: hsl(233, 11%, 84%);
    --text-clr-200: hsl(236, 9%, 61%);
    --text-clr-100: hsl(235, 19%, 35%);
}

[data-theme = "dark"] {
    --page-bg: hsl(235, 21%, 11%);
    --content-bg: hsl(235, 24%, 19%);
    --p: hsl(234, 39%, 85%);
    --text-clr-100: hsl(236, 33%, 92%);
    --p: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --border-bg: hsl(237, 14%, 26%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page {
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-image: url(../assets/images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-color: var(--page-bg);
    font-family: "Josefin Sans", sans-serif;
    /* text-decoration: line-through; */
}

.add-form {
    background-color: var(--content-bg);
    position: relative;
    color: var(--text-clr-100);
    margin-top: 2rem;
    border-radius: 6px;
}

.check{
    padding: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--border-bg);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    z-index: 100;
}

.completed {
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(76,192,167,1) 19%, rgba(160,76,192,1) 55%)
}

.add-form input {
    padding-left: 3rem;
    font-family: "Josefin Sans", sans-serif;
    color: var(--text-clr-100);
}

.add-form input::placeholder {
    color: var(--text-clr-100);

}